@{
    ViewBag.Title = "Xác Nhận Quên Mật Khẩu";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - eParty</title>
    <link rel="stylesheet" href="~/Content/login/style.css">
    <link rel="stylesheet" href="~/Content/login/SharedMessageTemplate.css">
</head>
<body>
    <div class="wrapper">
        <h2>@ViewBag.Title</h2>
        <div>
            <p>
                Vui lòng kiểm tra email của bạn để đặt lại mật khẩu.
            </p>
            <p>
                @Html.ActionLink("Quay lại trang Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: null)
            </p>
        </div>
    </div>
</body>
</html>
